/* theme dRK nd light css */
:root {
    --dark-grey: #191a1b;
    --grey: #232626;
    --white: #ffffff; 
    --off-white: #e4e4e4;

    --orange-light-color: #FF5D3D;
    --orange-dark-color: #E04022;
    --blue-dark-color: #104399;


    /* begin:dark code */
    --primary-color: #191a1b;
    --secondary-color: #232626;
    
    --font-color: #ffffff;
    --mute-color: #e4e4e4;

    --bg-color: #232626;
    --bg-font-color: #e4e4e4;

    --heading-color: #e4e4e4;
    --btn-font-color: #191a1b;

    --card-body-grid-1: #252929;
    --card-body-grid-2: #202222;

    --card-body-grid-3: #242628;

    --shadow-light: #1e2020;
    --shadow-dark: #282c2c;

  }
  /* end:dark code */
  /* begin:light code */
  [data-theme="light"] {
    --primary-color: #ffffff;
    --secondary-color: #e4e4e4;
    
    --font-color: #191a1b;
    --mute-color: #232626;

    --bg-color: #e4e4e4;
    --bg-font-color: #232626;

    --heading-color: #191a1b;
    --btn-font-color: #e4e4e4;

    --card-body-grid-1: #f4f4f4;
    --card-body-grid-2: #cdcdcd;

    --card-body-grid-3: #f1ebeb;

    --shadow-light: #c2c2c2;
    --shadow-dark: #ffffff;
    
}
/* end: light code */

body {
    color: var(--font-color);
    background: var(--secondary-color);
}

body a {
color: var(--font-color);
}

.offcanvas {
    background: var(--primary-color);
}

/* begin:switch dark and light*/
.switch.switch-outline.switch-dark input:empty ~ span:after{
    background-color: var(--grey);
}
.switch.switch-outline.switch-dark input:empty ~ span:before{
    border: 2px solid var(--grey);
    background-color: transparent;
}
.switch.switch-outline.switch-dark input:checked ~ span:before {
    border: 2px solid var(--white);
    background-color: transparent;
}
.switch.switch-outline.switch-dark input:checked ~ span:after {
    color: var(--grey);;
    background-color: var(--white);
}
/* end: switch  */

/* header */

@media (min-width: 992px) {
    .header .header-top {
        background-color: var(--secondary-color);
    }

    .header-tabs .nav-item .nav-link {
        color: var(--font-color);
    }
    .header-tabs .nav-item .nav-link:focus, .header-tabs .nav-item .nav-link:hover {
      color: var(--font-color);
    }
    .header-tabs .nav-item .nav-link.active {
      background-color: var(--primary-color);
      color: var(--font-color);
    }
}
.navi .navi-item .navi-link .navi-text{
    color: var(--font-color);
}
.header-mobile{
    background-color: var(--secondary-color);
}
@media (max-width: 991.98px){
    .topbar {
    color: var(--font-color);
    background-color: var(--secondary-color);
    }
}
.header-tabs .nav-item .nav-link{
    color: var(--font-color);
}
.header .header-bottom{
    background-color: var(--primary-color);
}
.header-menu .menu-nav > .menu-item .menu-submenu > .menu-subnav > .menu-item > .menu-link .menu-text{
    color: var(--font-color);
}
@media (min-width: 992px){
    .header-menu .menu-nav > .menu-item .menu-submenu {
        background-color: var(--primary-color);
    }

    .header-menu .menu-nav > .menu-item > .menu-link{
        padding: 0.65rem 1rem;
    }

    .header-menu .menu-nav > .menu-item > .menu-link .menu-text {
        color: var(--font-color); 
    }

    .header-menu .menu-nav > .menu-item:hover:not(.menu-item-here):not(.menu-item-active) > .menu-link .menu-text, .header-menu .menu-nav > .menu-item.menu-item-hover:not(.menu-item-here):not(.menu-item-active) > .menu-link .menu-text{
        color: var(--mute-color);
    }
}

.nav.nav-pills .show > .nav-link .nav-text, .nav.nav-pills .nav-link.active .nav-text{
    color: var(--font-color);
}

.nav.nav-pills .show > .nav-link .nav-text, .nav.nav-pills .nav-link.active .nav-text .fa-facebook{
    color: #3B55A0 !important;
}

.nav.nav-pills .show > .nav-link .nav-text, .nav.nav-pills .nav-link.active .nav-text .fa-twitter{
    color: #00ACEE !important;
}

.nav.nav-pills .show > .nav-link .nav-text, .nav.nav-pills .nav-link.active .nav-text .fa-instagram{
    color: #d047d1 !important;
}

.nav.nav-pills .show > .nav-link .nav-text, .nav.nav-pills .nav-link.active .nav-text .fa-linkedin{
    color: #0e76a8 !important;
}

.nav.nav-pills .show > .nav-link .nav-text, .nav.nav-pills .nav-link.active .nav-text .fa-youtube{
    color: #ff0000 !important;
}

.nav.nav-pills .show > .nav-link .nav-text, .nav.nav-pills .nav-link.active .nav-text .fa-pinterest{
    color: #ff0000 !important;
}

.nav.nav-pills .show > .nav-link, .nav.nav-pills .nav-link.active{
    color: var(--font-color);
    background-color: var(--primary-color);
    background-image: linear-gradient(145deg, var(--card-body-grid-1), var(--card-body-grid-2));
    box-shadow: 6px 6px 10px var(--shadow-light), -6px -6px 10px var(--shadow-dark);
}

/* end:header */

/* card */

.card, .card.card-custom {
    border: 0px solid transparent;
    background-color: var(--primary-color);
    background-image: linear-gradient(145deg, var(--card-body-grid-1), var(--card-body-grid-2));
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;    
    box-shadow: 6px 6px 10px var(--shadow-light), -6px -6px 10px var(--shadow-dark);
    color: var(--font-color);
}
.card.card-custom > .card-header .card-title, .card.card-custom > .card-header .card-title .card-label{
    color: var(--font-color);
}
/* end:card */

/* button */
.btn {
    background-image: linear-gradient(145deg, var(--card-body-grid-1), var(--card-body-grid-2));
    background-position: 0% 0%, 100% 100%;
    background-size: 200% 200%;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    color: var(--font-color);
    text-shadow: inherit;
    box-shadow: 6px 6px 10px var(--shadow-light), -6px -6px 10px var(--shadow-dark);
    transition: 0.5s ease-in-out;
    border: 0px solid transparent;
}


.btn:hover, .btn.hover, .btn:active, .btn.active {
	text-decoration: none;
	background-position: 100% 100%, 0% 0%;
	color: var(--font-color);
}

.btn:focus, .btn.focus {
	outline: 0;
}

.btn.disabled, .btn:disabled {
	opacity: 0.65;
	pointer-events: none;
} 

.btn-facebook{
    background-image: linear-gradient(145deg, #4C69BA, #3B55A0) !important;
}
.btn-instagram{
    background-image: linear-gradient(145deg, #d047d1, #ff0000) !important;
}
.btn-twitter{
    background-image: linear-gradient(145deg, #10bbff, #00ACEE) !important;
}
.btn-linkedin{
    background-image: linear-gradient(145deg, #1080b4, #0e76a8) !important;
}
.btn-youtube{
    background-image: linear-gradient(145deg, #f53131, #ff0000) !important;
}

.bootstrap-select > .dropdown-toggle.btn-light, .bootstrap-select > .dropdown-toggle.btn-secondary{
    background-image: linear-gradient(145deg, var(--card-body-grid-1), var(--card-body-grid-2)) !important;
    background-position: 0% 0%, 100% 100%;
    background-size: 200% 200%;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    color: var(--font-color);
    text-shadow: inherit;
    box-shadow: 6px 6px 10px var(--shadow-light), -6px -6px 10px var(--shadow-dark);
    transition: 0.5s ease-in-out;
    border: 0px solid transparent;
}
.bootstrap-select .dropdown-menu.inner > li.selected > a{
    background: var(--secondary-color);
}
.bootstrap-select .dropdown-menu.inner > li > a .text{
    color: var(--font-color);
}
.bootstrap-select .dropdown-menu.inner > li > a .text:hover {
    color: var(--font-color);
}
.bootstrap-select .dropdown-menu.inner > li.selected > a .text, .bootstrap-select .dropdown-menu.inner > li:hover > a .text{
    color: var(--font-color);
}
.bootstrap-select .dropdown-menu{
    border: 1px solid var(--primary-color);
}

.dropdown-menu{
    -webkit-box-shadow: 6px 6px 10px var(--shadow-light), -6px -6px 10px var(--shadow-dark);
    box-shadow: 6px 6px 10px var(--shadow-light), -6px -6px 10px var(--shadow-dark);
}

.dropdown-item {
    color: var(--font-color);
    background-color: transparent;
    border: 0; 
}
.dropdown-item:hover, .dropdown-item:focus {
    color: var(--font-color);
    background-color: var(--secondary-color);; }
.dropdown-item.active, .dropdown-item:active {
    color: var(--font-color);
    background-color: var(--secondary-color); }
.dropdown-item.disabled, .dropdown-item:disabled {
    color: var(--mute-color);
    background-color: transparent; 
}

/* end:button */

/* Sb_login */
#Sb_login{
    background-color: var(--secondary-color);
}
/* end:Sb_login */


/* form */
.form-control {
    background-color: #3a3b3c;
    color: #F3F6F9;
    border: 1px solid #3a3b3c;
}
.form-control.form-control-solid {
    background-color: #3a3b3c;
    border-color: #3a3b3c;
    color: #F3F6F9;
}
.form-group label {
    color: var(--white);
}



/* end:form */


.dropdown-menu{
    background-color: var(--secondary-color);
}


.apexcharts-menu {
    background: var(--bg-color) !important;
}

.apexcharts-menu .apexcharts-menu-item:hover {
    background-color: var(--primary-color) !important; 
}

/* modal */
.modal .modal-header .modal-title{
    color: var(--font-color) !important;
}
.modal-header{
    border-bottom: 1px solid var(--secondary-color);
}
.modal-content{
    background-color: var(--primary-color);
    color: var(--font-color);
}